body {
  display: grid;
  grid-template-areas:
    ". . ."
    ". saludator ."
    ". . .";
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
  height: 100vh;
}

.form-container {
  grid-area: saludator;
  display: grid;
  font-size: 24px;
}