<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <style>
      body {
        display: grid;
        grid-template-areas:
          ". . ."
          ". saludator ."
          ". . .";
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
        justify-items: center;
        height: 100vh;
      }

      .form-container {
        grid-area: saludator;
      }

      .saludo-form {
        grid-area: saludator;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
          "time"
          "idioma" "boton";
        grid-row-gap: 5px;
        font-size: 24px;
      }

      .time-input {
        grid-area: time;
        font-size: 64px;
        font-weight: bolder;
        color: blue;
      }

      .idioma-select {
        grid-area: idioma;
        font-size: 48px;
      }

      .submit-button {
        font-size: 36px;
      }
    </style>

    <title>Document</title>
  </head>
  <body>
    <div class="form-container">
      <form action="/saludar" method="GET" class="saludo-form">
        <input
          class="time-input"
          id="hora"
          name="hora"
          type="text"
          pattern="[0-9]{2}:[0-9]{2}"
          placeholder="00:00 (24H)"
          required
        />
        <select id="lang" name="lang" class="idioma-select">
          <option value="ES" selected>Español</option>
          <option value="EN">Ingles</option>
          <option value="FR">Frances</option>
        </select>
        <button id="saludar" class="submit-button" type="submit">
          Saludar
        </button>
      </form>
    </div>
  </body>
</html>
