<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <form action="/saludar" method="GET">
      <input id="hora" name="hora" type="time" />
      <select id="lang" name="lang">
        <option value="ES" selected>Español</option>
        <option value="EN">Ingles</option>
        <option value="FR">Frances</option>
      </select>
      <button id="saludar" type="submit">Saludar</button>
    </form>
  </body>
</html>
